:root {
  --brand-color: #2196f3;
  --brand-black: #212121;
  --brand-background: #ffffff;
  --brand-header: #757575;
  --brand-backgroud2: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--brand-black);
  background: var(--brand-background);
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* podkreslenie headera */
header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

header a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-header);
}
header a:hover {
  color: var(--brand-color);
}
header nav {
  margin-left: 93px;
}

header nav a {
  color: var(--brand-black);
}

header nav li {
  margin: 0px 23px 0px 23px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}
header div {
  margin-left: 371px;
}

header nav ul,
header div ul {
  padding-left: 0;
  display: flex;
  align-items: center;
}

header div li {
  margin: 0px 25px 0px 25px;
}

header div li:first-child {
  margin-left: 0;
}
header div li:last-child {
  margin-right: 0;
}

.logo {
  margin-left: 15px;
}
.logo-blue {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--brand-color);
}

.logo-black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--brand-black);
}

.sec-naglowek {
  background: var(--brand-backgroud2);
}

.sec-naglowek div {
  margin-top: 106px;
  margin-bottom: 106px;
}
.sec-naglowek h1 {
  margin-bottom: 30px;
  margin-left: 252px;
  margin-right: 252px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--brand-background);
}
.sec-naglowek button {
  width: 200px;
  height: 50px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  text-align: center;
  letter-spacing: 0.06em;
  /*color czcionki nizej*/
  color: var(--brand-background);
}

.sec-onas {
  background: var(--brand-background);
}

.sec-onas ul {
  margin: 0 0 0 0;
  /*  display: flex;
  align-items: center; */
}

.sec-onas h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sec-onas p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.sec-onas h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-black);
}

.sec-zespol {
  background: #f5f4fa;
}
/* .sec-zespol ul {
  display: flex;
  align-items: center;
} */
.sec-zespol ul {
  background: #f5f4fa;
}
.sec-zespol h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
}
.sec-zespol p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.sec-zespol-pgrey {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.sec-zespol div {
  background: var(--brand-background);
}

footer {
  background-color: var(--brand-backgroud2);
}

footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--brand-background);
}

footer a:hover {
  color: var(--brand-color);
}

footer address a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--brand-header);
}

.portfolio-buttons button {
  width: 121px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-buttons ul li {
  margin-left: 4px;
  margin-right: 4px;
}
.portfolio-buttons ul li:first-child {
  margin-left: 0px;
}
.portfolio-buttons ul li:last-child {
  margin-right: 0px;
}

.portfolio-buttons button:hover {
  width: 121px;
  height: 38px;

  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  text-align: center;
  letter-spacing: 0.06em;
  /*color czcionki nizej*/
  color: var(--brand-background);
}
.projekty div {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
/* .projekty ul {
  display: flex;
  align-items: center;
  flex-flow: wrap;
} */

.projekty p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.projekty-p-grey {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}
.container {
  margin: 0 auto; /* wybiera wolna przestrzen i rowno ustawia po polowie jako margines */
  width: 1200px;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-horiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-buttons {
  display: flex;
  justify-content: center;
}

.flex-projects {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}
